<div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><img src="../../images/me.jpg" class="img-circle" height=200 width=200></div>
        <div class="col-md-4"></div>
</div>


<div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-5">
                                <h1 align="center">Sai Sirisha Devineni</h1>
                                
                </div>
                <div class="col-md-4"></div>
        
</div>


   
        <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-3">
                                <p align="left">
                                <button class="btn-info" onclick="sdiv()">Contact Me</button>
                        </p>
                        </div>
                        <div class="col-md-4"></div>
                
        </div>
   
        <div id="kk" class="row" style="display:none">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                                        <p id="spacinglines">
                                                        <a href="https://www.facebook.com/sireeshadevineni/">
                                                            <img src="../../images/fb.png"alt="facebooklink" height="42" width="42">
                                                            </a>
                                                            <a href="https://github.com/DevineniSirisha">
                                                                <img src="../../images/github.png"alt="facebooklink" height="42" width="42">
                                                            </a>
                                                            <a href="https://bitbucket.org/DevineniSirisha/">
                                                                    <img src="../../images/bitbucket.gif"alt="facebooklink" height="42" width="42">
                                                            </a>
                                                            <a href="https://www.linkedin.com/in/sai-sirisha-devineni-86a60251/">
                                                                <img src="../../images/linkedin.png"alt="facebooklink" height="42" width="42">
                                                            </a>  
                                                </p>
                                
                        </div>
                        <div class="col-md-4"></div>
                
        </div>


<div class="row">
        
        
        <div class="col-md-12">
            
                   
                        <p id="spacinglines" align="center">
                                I’m newly admitted student of Applied computer science for spring 2018.I am from Vijayawada, India.
                               <br/> I completed my graduation from K L University in Electronics and Computer Science in the year of 2015.
                               <br/> I got placed in Infosys Limited, India during my third year campus placements. 
                               <br/> During under graduation, I have done my certification on IBM DB2 Admin. 
                               <br/> I was trained in python during my training in Infosys. 
                               <br/> Later, I worked on two projects under clients Toyota and Microsoft. 
                               <br/> In my 2.5 years of work experience in Infosys, I worked on .Net, Microsoft Azure and SharePoint. 
                               <br/>
                                I’ve completed my certification in 70-532(Developing Microsoft Azure Solutions) and a certified Microsoft Specialist
                               <br/>
                               I’m planning to work on big data and cloud technologies.
                               <br/>
                               Apart from technical knowledge, I'm interested in 
                                        Lettering,Calligraphy,Painting.
                        </p>
                       
                                       
                                      
                    
            
                
        </div>

       

    
</div>

        
<script>
        function sdiv() {
    div = document.getElementById('kk');
    div.style.display = "block";
}
</script>