<li class="dropdown-submenu">
  <a href="#">2017 Fall Web Apps Section 01<span class="caret"></span></a>
  <ul class="dropdown-menu">
   
    
    <li class="dropdown-submenu">
      <a href="/about/t7">Team 7 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about/t7/a">Sai Sirisha Devineni</a></li>
        <li><a href="/about/t7/b">Lokeswari Pittu</a></li>
        <li><a href="/about/t7/c">Sreelekha Vijaya</a></li>
      </ul>
    </li>
   
   
  </ul>
</li>