<!-- dev - sreeLekha vijaya -->
<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="pilot/create" class="btn btn-primary new">
        Create a new pilot
      </a>
      <h2>Recent pilot entries</h2>
      <p>There are
        <%= pilots.query.length %> pilots.
          <br/>
      </p>
      <table> 
          
        <tr> 
          <th>ID</th> <th>&emsp;&emsp;LAST NAME</th> <th>&emsp;&emsp;FIRST NAME</th>  
          
         <td><th>****Other Details****</th></td>
        </tr>
       
        <td><br></td>
        
   
    <% for (var i = 0; i <= pilots.query.length-1; i++) {  
      pilot = pilots.query[i];  %>
      

<tr>

<th><%=pilot._id %></th>

<th>&emsp;&emsp;<%=pilot.lastName%></th>
  
  <th>&emsp;&emsp;<%=pilot.firstName%></th>
    
   <!-- <th>&nbsp;&nbsp;&nbsp;&nbsp;<%=pilot.hoursFlown%></th> 
      
  <th>&nbsp;&nbsp;&nbsp;&nbsp;<%=pilot.isCurrent%></th>   -->
                      
  
                       <th>&emsp;&emsp;<a href="/pilot/details/<%= pilot._id %>" class="btn btn-info"> Full Details </a></th>
                       <th>&emsp;&emsp;&emsp;<a href="/pilot/edit/<%= pilot._id %>" class="btn btn-warning"> Edit </a></th>
                       <th><a href="/pilot/delete/<%= pilot._id  %>" class="btn btn-danger"> Delete </a></th> 

                       
</tr>
   
<td><br></td>
<% } %>
        </table>

    </div>
  </div>
</div>