<br/>
<br/>
<br/>

<h1>Lokeswari Pittu</h1>
<!--<header id="al">Lokeswari Pittu</header>-->
<article id="ch">
<div class="col-md-4"><img src="../../images/plr.jpg" class="img-circle" height=200 width=200></div>
<section>
    <div class ="col-md-8">
<h2>Current</h2>
<p>I am newly admitted in Spring 2018 batch for Masters in Applied Computer Science.</p>
<h2>Background</h2>
<p>I am from Guntur, India. I have completed my Bachelor’s Degree at Acharya Nagarjuna University in Electronics and Communication Engineering with 91%.</p>
<p>I was facilitated with Prathiba Award for my excellence in academics in 2017.</p>
<p>I have done my Internship on HTML, CSS, PHP, and Basics of ANDROID.</p>
<h2>Other</h2>
<p>My technical interests are  Programming and Network Security.</p>
<p>My hobbies are watching cricket, listening to music.</p>
<h2>Plans</h2>
<p> I want to be an Information Security Analyst.</p>
</section>
</article>

</p>
</div>

<br/>
<br/>