<!-- dev - Lokeswari Pittu -->
<!-- main  -->
<div class=row>
  <div class="col col-xs-12">   
    <div class="form-group">
      <label for="tailNumber"> Tail Number</label>
      <input type="text" class="form-control" id="tailNumber" name="tailNumber" value="<%= plane.tailNumber %>">
    </div>
    <div class="form-group">
      <label for="numSeats">Number of Seats</label>
      <input type="text" class="form-control" id="numSeats" name="numSeats" value="<%= plane.numSeats %>">
    </div>
    <div class="form-group">
      <label for="fuelCapacity">Fuel Capacity</label>
      <input onchange="onfuelCapacityChange()" type="number" class="form-control" id="fuelCapacity" name="fuelCapacity" value="<%= plane.fuelCapacity %>" required>
    </div>
   
    </div>
</div>
<hr>
<br/>
<br/>
<!-- PUT CLIENT SIDE CODE HERE -->
<script>  
  // prevent submission when hitting enter key - optional, but user-friendly 
  document.forms[0].onkeypress = function (e) {
    var key = e.charCode || e.keyCode || 0;
    if (key == 13) {
      e.preventDefault();
    }
  }

// END CLIENT SIDE CODE  (close the script tag)
</script>
