<br/>
<br/>
<br/>
<h1>Sreelekha Vijaya</h1>
<div class="col-md-4"><img src="../../images/sree.jpg" class="img-circle" height=200 width=200></div>
<div class="col-md-8">
<h2><I>About me</I></h2>
<p>I’m a new graduate student currently attending Applied Computer Science.</p>

        <h2><I>Background</I></h2>
        <p>I’m from Hyderabad, India. I have done my bachelor’s degree in Computer Science from Mallareddy Engineering college. I have 3 years of work experience, wherein 1 year I have worked with C3I as a technical analyst and then moved to Verizon in which I had 2 years of experience in the field of Incident management.</p>
      
      <h2><I>Plans</I></h2>
      
      <p>I’m looking forward to enhance my technical skills and I vision myself to become a database administrator.</p>
     
     
      <h2><I>Other</I></h2>
      <p> Following are my hobbies:</p>
      <ul><li>Painting</li>
      <li>Sketching</li>
      <li>Dancing</li></ul>
      
      <h4>One of my favourite videos:</h4>


</div>
<br/>
<br/>