<br/>
<br/>
<br/>
<br/>
<div class="container-fluid">
    <div>
        <h2>Flight Statistics</h2>
    </div>
    <%
    var max=0;
    var min = 0;
    var sum = 0;
    var avg = 0;
    flight = flights.query[flights.query.length-1];
    min = flight.durationHours;
    max = flight.durationHours;
    for (var i = flights.query.length-1; i >= 0; i--) {   
        flight = flights.query[i];
        if(flight.durationHours < min){
            min = flight.durationHours;
        }
        if(max <= flight.durationHours){
            max = flight.durationHours;
        }
        sum =sum+flight.durationHours;       
    } 
    avg = sum/flights.query.length;
    
    %>
        <div>
            <table class="table table-dark">
                <tr>
                    <th scope="row">Mean</th>
                    <td> <%= avg %> </td>
                </tr>
                <tr>
                    <th scope="row">Maximum</th>
                    <td> <%= max %> </td>
                </tr>
                <tr>
                    <th scope="row">Minimum</th>
                    <td> <%= min %> </td>
                </tr>
            </table>
        </div>

</div>
</div>
</div>